@model IEnumerable<TransportManagementSystem.Models.Allocate>

@{
    ViewData["Title"] = "Allocate-Vehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Allocate Vehicle and Routes as Per Requirements </h3>

<p>
    <a asp-action="Create">Allocate Vehicle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RouteNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.RouteNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.Stop)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.AllocateId">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.AllocateId">View Details</a>
                @*<button type="button" class="btn btn-success" onclick="location.href = '@Url.Action("Details","Allocates")'">Details</button>*@
                @*<a asp-action="Delete" asp-route-id="@item.AllocateId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>

<button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Index","Home")'">Back</button>
